# ignore MacOS's temporary files
._*
*/._*
*/*/._*
*/*/*/._*
*/*/*/*/._*
*/*/*/*/*/._*
*/*/*/*/*/*/._*
*/*/*/*/*/*/*/._*
*/*/*/*/*/*/*/*/._*
*/*/*/*/*/*/*/*/*/._*
*/*/*/*/*/*/*/*/*/*/._*
*/*/*/*/*/*/*/*/*/*/*/._*

# ignore MacOS's .DS_Store files
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/*/*/.DS_Store
*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/.DS_Store